/* =============================== Montserrat =============================== */

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/Variable.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/Variable-Italic.ttf");
  font-weight: 100 900;
  font-style: italic;
}
