@use "@/styles/fonts.scss";
@use "@/styles/theme.scss";

@use "@/styles/utils.scss" as *;

:root {
  color: C(secondary);
  background-color: C(primary);

  font-family: Montserrat;
  font-synthesis: style small-caps;
  -webkit-font-smoothing: antialiased;

  interpolate-size: allow-keywords;

  --x-value-nav-height: calc(var(--x-value-nav-height-top) + var(--x-value-nav-height-bottom));
}

html {
  @include flexbox(true);

  overflow-y: auto;
  overflow-x: hidden;

  -ms-overflow-style: none;
  scrollbar-width: thin;
  &::-webkit-scrollbar { display: none; }

  -webkit-user-select: none;
  user-select: none;
}

body {
  @include flexbox(true);
  min-height: fit-content;
  overflow: hidden;
}

content {
  display: contents;
}

main {
  @include flexbox(true);

  $h100f: calc(100dvh);
  $h100s: calc($h100f - V(safe-inset-top) - V(safe-inset-bottom));
  $h100n: calc($h100s - V(nav-height));

  &:where([data-variant=page-full]) {
    &:not([data-expanding]) { @include height($h100f) }
    &[data-expanding] { min-height: $h100f; }
  }

  &:where([data-variant=page-safe]) {
    &:not([data-expanding]) { @include height($h100s) }
    &[data-expanding] { min-height: $h100s; }
  }

  &:where([data-variant=page-nav])  {
    &:not([data-expanding]) { @include height($h100n) }
    &[data-expanding] { min-height: $h100n; }
  }
}

* {
  @include default;

  &:where(
    header, footer,
    nav, section, div,
    form, label, button,
    article, summary, details
  ) { @include flexbox(true); }
}

a:where([data-variant=wrapper]) {
  @include flexbox(true);
  color: inherit;
  cursor: pointer;
}

p,
h1, h2, h3
h4, h5, h6 {
  margin: 0;
  line-height: 1.35em;
}

.titchy {
  --titchy-color-primary:   var(--x-color-primary);
  --titchy-color-secondary: var(--x-color-secondary);
  --titchy-color-tertiary:  var(--x-color-tertiary);
  --titchy-color-accent:    var(--x-color-accent);
}
