:root[data-theme="default"] {
  // Colors:
  --x-color-primary: #0c0c0c;
  --x-color-secondary: #f1f1f1;
  --x-color-tertiary: #1f1f1f;
  --x-color-accent: #8400ff;
  --x-color-brand: #0b0e19;

  // Special Values:
  --x-value-safe-inset-top: env(safe-area-inset-top);
  --x-value-safe-inset-left: env(safe-area-inset-left);
  --x-value-safe-inset-bottom: env(safe-area-inset-bottom);
  --x-value-safe-inset-right: env(safe-area-inset-right);

  --x-value-border-radius-1: 5px;

  --x-value-nav-height-top: 0px;
  --x-value-nav-height-bottom: 0px;
}
